@import 'scss-colors-variables/variables';
@import 'variables_dark';

// generators configs
$screen-breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$positions: (
    b: 'bottom',
    l: 'left',
    r: 'right',
    t: 'top'
) !default;

$displays: (
    b: 'block',
    n: 'none',
    ib: 'inline-block',
    f: 'flex'
) !default;
