.btn {
    text-decoration: none;
    @each $name, $color in $colors_base {
        &-#{ '' + $name},
        &--#{ '' + $name} {
            border-color: var(--color-#{'' + $name});
            background-color: #{color($name)};
            color: var(--color-#{'' + $name}-contrast);
            --background: var(--color-#{'' + $name});
            --color: var(--color-#{'' + $name}-contrast);

            &.btn--transparent,
            &.btn-transparent {
                border-color: transparent;
                background-color: transparent;
                color: #{color($name)};
                --background: transparent;
                --color: #{color($name)};
                --background-focused: transparent;
                --background-hover: transparent;
                --color-activated: var(--color-#{'' + $name}-contrast);
                --color-focused: var(--color-#{'' + $name}-contrast);
            }

            &:hover,
            &.active,
            &.btn-outline,
            &.btn--outline {
                border-color: #{color($name)};
                background-color: transparent;
                color: #{color($name)};
                --background: transparent;
                --color: #{color($name)};

                &.btn--transparent,
                &.btn-transparent {
                    border-color: transparent;
                    background-color: transparent;
                    color: var(--color-#{'' + $name}-contrast);
                    --background-focused: transparent;
                    --background-hover: transparent;
                    --color-activated: var(--color-#{'' + $name}-contrast);
                    --color-focused: var(--color-#{'' + $name}-contrast);
                }
            }

            @each $config, $value in $colors_config {
                &-#{'' + $config} {
                    border-color: var(--color-#{'' + $name}-#{'' + $config});
                    background-color: var(--color-#{'' + $name}-#{'' + $config});
                    color: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                    --background: var(--color-#{'' + $name}-#{'' + $config});
                    --color: var(--color-#{'' + $name}-#{'' + $config}-contrast);

                    &.btn--transparent,
                    &.btn-transparent {
                        border-color: transparent;
                        background-color: transparent;
                        color: var(--color-#{'' + $name}-#{'' + $config});
                        --background: transparent;
                        --color: var(--color-#{'' + $name}-#{'' + $config});
                        --background-focused: transparent;
                        --background-hover: transparent;
                        --color-activated: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                        --color-focused: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                    }
                    &:hover,
                    &.active,
                    &.btn-outline,
                    &.btn--outline {
                        border-color: var(--color-#{'' + $name}-#{'' + $config});
                        background-color: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                        color: var(--color-#{'' + $name}-#{'' + $config});
                        --background: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                        --color: var(--color-#{'' + $name}-#{'' + $config});

                        &.btn--transparent,
                        &.btn-transparent {
                            border-color: transparent;
                            background-color: transparent;
                            color: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                            --background: transparent;
                            --color: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                            --background-focused: transparent;
                            --background-hover: transparent;
                            --color-activated: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                            --color-focused: var(--color-#{'' + $name}-#{'' + $config}-contrast);
                        }
                    }
                }
            }
        }
    }
    &--transparent,
    &-transparent {
        border-color: transparent;
        background-color: transparent;
        color: var(--color-dark);
        --background: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        --color: var(--color-dark);
        --color-activated: var(--color-primary);
        --color-focused: var(--color-primary);
        --box-shadow: none;
    }

    &--round {
        border-radius: 1rem;
    }

    &.p-0 {
        --padding-start: 0;
        --padding-end: 0;
    }
}
