@import '~scss-colors-variables';

@mixin ionColorVariables($name, $scheme: light) {
    //base
    --ion-color-#{'' + $name}: var(--color-#{'' + $name});
    // rgb
    --ion-color-#{'' + $name}-rgb: var(--color-#{'' + $name}-rgb);

    //contrast
    --ion-color-#{'' + $name}-contrast: var(--color-#{'' + $name}-contrast);
    //contrast rgb
    --ion-color-#{'' + $name}-contrast-rgb: var(--color-#{'' + $name}-contrast-rgb);
}

@mixin ionColorConfigVariables($name, $config: base, $scheme: light) {
    // variation
    --ion-color-#{'' + $name}-#{'' + $config}: var(--color-#{'' + $name}-#{'' + $config});
    // rgb
    --ion-color-#{'' + $name}-#{'' + $config}-rgb: var(--color-#{'' + $name}-#{'' + $config}-rgb);

    //contrast
    --ion-color-#{'' + $name}-#{'' + $config}-contrast: var(--color-#{'' + $name}-#{'' + $config}-contrast);
    // contrast rgb
    --ion-color-#{'' + $name}-#{'' + $config}-contrast-rgb: var(--color-#{'' + $name}-#{'' + $config}-contrast-rgb);
}

@mixin colorContent($name, $scheme: light) {
    @include ionColorVariables($name, $scheme);
    @each $config, $value in $colors_config {
        @include ionColorConfigVariables($name, $config, $scheme);
    }
}

// colors classes
.ion-color {
    @each $name, $color in $colors_base {
        &-#{'' + $name} {
            //base
            --ion-color-base: var(--ion-color-#{'' + $name}) !important;
            // rgb
            --ion-color-base-rgb: var(--ion-color-#{'' + $name}-rgb) !important;
            //contrast
            --ion-color-contrast: var(--ion-color-#{'' + $name}-contrast) !important;
            //contrast rgb
            --ion-color-contrast-rgb: var(--ion-color-#{'' + $name}-contrast-rgb) !important;

            @each $config, $value in $colors_config {
                --ion-color-#{'' + $config}: var(--ion-color-#{'' + $name}-#{'' + $config}) !important;
            }
        }
    }
}
