// contrast color theme variable map

$colors_contrast: (
    primary: #016b7f,
    secondary: #016b7f,
    tertiary: #016b7f,
    success: #69c61d,
    warning: #efaf00,
    danger: #ff4848,
    dark: #27283b,
    medium: #e9ecef,
    light: #f8f9fa,
    gray: #adb5bd,
    purple: #ba7df7
) !default;

$colors_config_contrast: (
    tint: 15%,
    shade: 15%,
    light: 30%,
    dark: 30%,
    opacity: 0.2,
    trans: 0.4,
    lucid: 0.8
) !default;

$colors_opposed_contrast: (
    light: primary,
    default: light
) !default;

$contrast: (
    colors: $colors_contrast,
    config: $colors_config_contrast,
    opposed: $colors_opposed_contrast
) !default;
