// dark color theme variable map

$colors_dark: (
    primary: #a8f1ff,
    secondary: #ffdf89,
    tertiary: #baef8d,
    success: #69c61d,
    warning: #efaf00,
    danger: #ffaeae,
    dark: #27283b,
    medium: #e9ecef,
    light: #f8f9fa,
    gray: #adb5bd,
    purple: #ba7df7
);

$colors_config_dark: (
    tint: 15%,
    shade: 15%,
    light: 30%,
    dark: 30%,
    opacity: 0.2,
    trans: 0.4,
    lucid: 0.8
);

$colors_opposed_dark: (
    dark: primary,
    default: dark
);

$dark: (
    colors: $colors_dark,
    config: $colors_config_dark,
    opposed: $colors_opposed_dark
);
