// dark color theme variable map

$colors_dark: (
  primary: #428cff,
  secondary: #50c8ff,
  tertiary: #6a64ff,
  success: #2fdf75,
  warning: #ffd534,
  danger: #ff4961,
  dark: #f4f5f8,
  medium: #989aa2,
  light: #222428,
);

$colors_config_dark: (
  tint: 15%,
  shade: 15%,
  light: 30%,
  dark: 30%,
  opacity: 0.2,
  trans: 0.4,
  lucid: 0.8,
) !default;

$colors_opposed_dark: (
  dark: primary,
  default: dark,
) !default;

$dark: (
  colors: $colors_dark,
  config: $colors_config_dark,
  opposed: $colors_opposed_dark,
) !default;
