// light color theme variable map

$colors_light: (
  primary: #3880ff,
  secondary: #3dc2ff,
  tertiary: #5260ff,
  success: #2dd36f,
  warning: #ffc409,
  danger: #eb445a,
  dark: #222428,
  medium: #92949c,
  light: #f4f5f8,
) !default;

$colors_config_light: (
  tint: 15%,
  shade: 15%,
  light: 30%,
  dark: 30%,
  opacity: 0.2,
  trans: 0.5,
  lucid: 0.8,
) !default;

$colors_opposed_light: (
  light: primary,
  default: light,
) !default;

$light: (
  colors: $colors_light,
  config: $colors_config_light,
  opposed: $colors_opposed_light,
) !default;
